@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: white;
  overflow-x: hidden;
}

[data-theme="dark"] body{
  color: beige;
  background-color: black;
}